<a href="https://colab.research.google.com/github/21pa1a04g3/LEET_CODE/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
S = pd.Series([1, 3, 2, 4, 5])
print(S)

0    1
1    3
2    2
3    4
4    5
dtype: int64

In [ ]:
S = pd.Series([1, 3, 2, 4, 5])
print(s.describe())

count    5.000000
mean     4.600000
std      2.701851
min      1.000000
25%      3.000000
50%      5.000000
75%      6.000000
max      8.000000
dtype: float64

In [ ]:
print(s.mean())

4.6

In [ ]:
print(s.min())

1.0

In [ ]:
print(s.max())

8.0

In [ ]:
import pandas as pd

mylist = [100,200,300,400,500]

res = pd.Series(mylist)

print("Series = \n",res)

Series =
 0    100
1    200
2    300
3    400
4    500
dtype: int64

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
import pandas as pd

a = [1, 7, 2, 5, 3, 4, 8]

myvar = pd.Series(a, index = ["A", "B", "C","D","E","F","G"])

print(myvar)

A    1
B    7
C    2
D    5
E    3
F    4
G    8
dtype: int64

In [ ]:
import pandas as pd

calories = {"day1": 100, "day2": 200, "day3": 300, "day4": 400, "day5": 500, "day6": 600, "day7": 700}

myvar = pd.Series(calories)

print(myvar)

day1    100
day2    200
day3    300
day4    400
day5    500
day6    600
day7    700
dtype: int64

In [ ]:
import pandas as pd

data = {
  "calories": [100, 200, 300],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       100        50
1       200        40
2       300        45

In [ ]:
import pandas as pd

data = {
  "calories": [100, 200, 300],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       100        50
day2       200        40
day3       300        45

In [ ]:

print(df.loc["day1"])

calories    100
duration     50
Name: day1, dtype: int64

In [ ]:

print(df.loc["day2"])

calories    200
duration     40
Name: day2, dtype: int64

In [ ]:

print(df.loc["day3"])

calories    300
duration     45
Name: day3, dtype: int64